@import 'public/style/colors';

.Login {
	// background-color: $secondary;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.logo-container {
		max-width: 300px;
		margin: 10px 0px;
	}

	.login-container {
		width: 90%;
		max-width: 600px;
		background-color: white;
		border-radius: 10px;
		// box-shadow: $shadow;
		border: 1px solid $primary;
		margin: 100px auto;
		padding: 50px;
		display: flex;
		flex-direction: column;

		.login-title {
			margin: auto;
			padding: 30px;
			margin-top: -100px;
			margin-bottom: 50px;
			border-radius: 10px;
			font-size: x-large;
			box-shadow: $shadow;
			width: 200px;
			text-align: center;
			color: $light;
			background-color: white;
			z-index: 1;
		}

		.form-control {
			margin-bottom: 10px;
			padding: 3px 7px;
			color: $dark;
			border-radius: 5px;
			border: 1px solid #CACACA;
			height: 25px;
		}

		label {
			margin: 5px;
			color: $light;
		}

		.button-container {
			text-align: center;
		}
	}
}