.Login {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

	.login-container {
		width: 90%;
		max-width: 600px;
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		margin: auto;
		padding: 50px;
		display: flex;
		flex-direction: column;

		.form-control {
			margin: 5px;
			padding: 2px;
			color: #313131;
			border-radius: 5px;
			border: 1px solid #CACACA;
			height: 25px;
		}
	}
}