@import 'public/style/colors';

.FileCard {
	position: relative;
	display: flex;
	align-items: center;
	margin: 10px 20px;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	.file-icon {
		width: 60px;
		flex-shrink: 0;
	}

	.file-data {
		display: flex;
		flex-direction: column;
		justify-items: start;
		margin: 0 20px;
		width: 100%;

		div>input {
			width: 100%;
		}

		.file-name {
			font-size: medium;
			font-weight: bold;
			color: $dark;
		}

		.file-type {
			display: flex;
			align-items: baseline;
			color: $light;
			text-align: left;
		}

		.file-size {
			display: flex;
			align-items: baseline;
			color: $light;
			text-align: left;
		}
	}

	.file-controls {
		margin-left: auto;

		div {
			padding: 5px 10px;
			font-size: small;
			animation-duration: 1s;
			background-color: transparent;
			cursor: pointer;
			color: $dark;

			&:hover {
				background-color: $light;
			}

			&.disabled {
				&:hover {
					background-color: inherit;
				}

				a {
					color: $light;
					pointer-events: none;
				}
			}

			a {
				color: $dark;
				text-decoration: none;
			}
		}

		.file-save {
			border-bottom: 1px solid $light;
		}

		.file-delete {
			border-bottom: 1px solid $light;
		}

		.file-download {
			border-bottom: 1px solid $light;
		}

		.file-download-compressed {}

		.file-loader {
			text-align: center;

			img {
				height: 15px;
			}
		}
	}

	.delete-prompt {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(5px);
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
}