@import 'public/style/colors';

.FileCard {
	display: flex;
	align-items: center;
	margin: 10px 20px;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	.file-icon {
		width: 60px;
	}

	.file-data {
		display: flex;
		flex-direction: column;
		justify-items: start;
		margin: 0 20px;

		.file-name {
			font-size: medium;
			font-weight: bold;
			color: $dark;
		}

		.file-type {
			color: $light;
			text-align: left;
		}

		.file-size {
			color: $light;
			text-align: left;
		}
	}

	.file-controls {
		margin-left: auto;

		div {
			border-left: 1px solid $light;
			padding: 5px 10px;
			font-size: small;
			animation-duration: 1s;
			background-color: transparent;
			cursor: pointer;

			&:hover {
				background-color: $light;
			}
		}

		.file-save {
			border-bottom: 1px solid $light;
		}

		.file-delete {
			border-bottom: 1px solid $light;
		}

		.file-download {
			border-bottom: 1px solid $light;
		}

		.file-download-compressed {}
	}
}