@import 'public/style/colors';

.Home {
	width: 100vw;
	height: 100vh;
	background-color: $secondary;
	margin: 0;

	.home-container {
		max-width: 600px;
		height: 100vh;
		margin: auto;
		overflow: auto;

		h1 {
			text-align: center;
			margin: 30px;
			color: white;
		}
	}
}