// General reset
* {
	margin: 0;
	padding: 0;
}

// Components
.btn {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: white;
	font-weight: bold;
	margin: 2.5px;
}

.btn-primary {
	background-color: lightgreen;
}

.btn-secondary {
	background-color: lightblue;
}

.btn-error {
	background-color: lightcoral;
}

.btn-disabled {
	background-color: gray;
}

input {
	margin: 5px;
	padding: 2px;
	color: #313131;
	border-radius: 5px;
	border: 1px solid #CACACA;
	height: 25px;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	
	&:disabled {
		margin: 0;
		padding: 0;
		background-color: white;
		border: 0;
	}
}