.FileUpload {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 20px;
	.upload-container {
		cursor: pointer;
		border-radius: 3px;
		border: 1px solid #CACACA;
		padding: 10px 20px;
	}
}